<p id="notice"><%= notice %></p>

<h1>奏者一覧</h1>

<table>
  <thead>
    <tr>
      <th>演奏者名</th>
      <th>写真</th>
      <th>人数</th>
      <th>プロフィール</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to(user.name,"/users/#{user.id}") %></td>
        <td><img name="image" value="" src="<%="/public/user_images/#{user.image_name}.jpg"%>" alt="<%= user.image_name %>"></td>
        <td><%= user.member %></td>
        <td><%= user.profile %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--user_imagesディレクトリは勝手に記述，image_nameカラムも定義してない-->
