<p id="notice"><%= notice %></p>
<img src="<%="/public/user_images/#{@user.image_name}.jpg"%>" alt="<%=@user.image_name%>">
<p>
  <strong>氏名・グループ名:</strong>
  <%= @user.name %>
</p>
<p><%= @user.member %></p>
<p><%= @user.profile %></p>

<%= link_to("編集", "/users/#{@user.id}/edit")%>
<%= link_to ("一覧","/users/index") %>
